.ProductPage {
	--desc-width: calc(100vw - 65px);

	@media screen and (min-width: 400px) {
		--desc-width: 300px;
	}
	@media screen and (min-width: 800px) {
		--desc-width: 400px;
	}
	@media screen and (min-width: 1200px) {
		--desc-width: 500px;
	}

	.wrapper {
		margin: auto;
		max-width: 1200px;
		display: grid;
		grid-template-columns: minmax(45px, 1fr) auto;

		.pic {
			width: 100%;
			img {
				width: 100%;
			}
		}

		.desc-dock {
			width: var(--desc-width);
			transition: width 400ms ease;

			&.collapsed {
				width: 0;

				.desc {
					transform: translateX(-100%);
				}
			}

			.desc-container {
				position: fixed;
				width: var(--desc-width);
				height: 80%;
				overflow: hidden;

				.desc {
					height: 100%;
					padding: 30px;
					display: grid;
					// grid-gap: 16px;
					align-content: center;
					align-items: center;
					text-align: center;
					transition: all 400ms ease;

					span {
						display: block;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

.Desc {
}
